@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap');
body {
    background-image: url("../img/coffeebeans.jpg");
    background-size: 100vh;
    background-attachment: fixed;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
}
.logo-coffee{
    max-height: 50px;
    max-width: 50px;
    margin: 0;
}
.coffeeNames {
    color: #ffffff;
    font-size: 2em;
}
.roast {
    color: #919191;
    font-size: 1em;
}
.topMargin {
    margin-top: 4em;
}
.coffee-container{
    border: 1px solid white;
}
.nav-bg {
    background-color: #ffffff;
    opacity: 65%;
}
a{
    color: #391f1b;
}