@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-image: url("../img/coffeebeans.jpg");
    background-size: 150%;
    background-attachment: fixed;
}
.logo-coffee{
    max-height: 50px;
    max-width: 50px;
    margin: 0;
}
.coffeeNames {
    color: hotpink;
}
.roast {
    color: blue;
}
.topMargin {
    margin-top: 4em;
}
.coffee-container{
    border: 1px solid black;
}
.nav-bg {
    background-color: #ffffff;
}
a{
    color: #391f1b;
}