body {
    background-color: black;
    color: white;
    background-image: url("../img/door-open.jpeg");
    background-position: top;
    background-position-y: 75px;
    background-repeat: no-repeat;

}
.garden-text {
    position: absolute;
    top: 80%;
    border: 1px solid white;
    background-color: rgba(25, 25, 25, 0.7);
    border-radius: 7px;
    padding: 15px;
    margin-left: 15%;
    font-size: 20px;
    height: 90px;
}