H1{
    text-align: center;
}
H2{
    text-align: center;
}
H3 {
    text-align: center;
}
.intro li {
    text-align: center;
    list-style: none;
}
hr {
    height: 3px;
    border-width: 0;
    background-color: #96a160;
}
H4 {
    color: #727949;
    text-align: left;
    text-transform: uppercase;
}