body {
    color: #160E16;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/background.jpeg);
    background-attachment: fixed;
}
.fancy-header {
    color: #606C7C; /* single line comment */
    text-decoration: underline;
    text-align: center;
}
#container {
    position: absolute;
    margin: 10px auto;
    width: 640px;
    padding: 10px;
    left: 20%;
    top: 100px;
    background-color: #312134;
}